* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
p,
h2 {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Work Sans', sans-serif; }

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding: 50px;
  background-color: rgba(64, 64, 64, 0.97); }

.tekst {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%; }

.intro {
  font-weight: 500;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #404040;
  text-align: center;
  letter-spacing: 1.5px; }

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
  animation: fade-in 1s ease-in-out forwards; }

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
  animation: fade-out 1s ease-in-out forwards; }

.infogfx {
  position: absolute;
  padding: 50px;
  background-color: rgba(64, 64, 64, 0.97); }

.norge {
  background-image: url(../img/norge.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  width: 90%;
  position: absolute; }

.infotext {
  color: #f2f2f2;
  font-size: 31px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute; }

.kontrast {
  color: #ffdc8c; }

.slider {
  background-image: url(../img/slider.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  width: 160px;
  right: 5%;
  position: absolute; }

#call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.action {
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #f2f2f2; }

.message {
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.story-wrap {
  height: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.story-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .story-list a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 31px;
    padding-bottom: 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer; }
  .story-list li {
    padding: 20px 0;
    list-style: none; }

a:hover {
  color: #ffdc8c; }

.askeladden:hover > .illustration {
  background-image: url(../img/eventyr/askeladden_trollet.svg);
  -webkit-animation: fadein-story 1s forwards;
  animation: fadein-story 1s forwards;
  height: 60vh;
  right: 80px; }

.bukkene:hover > .illustration2 {
  background-image: url(../img/eventyr/bukkenebruse.svg);
  -webkit-animation: fadein-story 1s forwards;
  animation: fadein-story 1s forwards;
  height: 70vh;
  right: 80px; }

.soria:hover > .illustration3 {
  background-image: url(../img/eventyr/soria.svg);
  -webkit-animation: fadein-story 1s forwards;
  animation: fadein-story 1s forwards;
  height: 60vh;
  right: 150px; }

.herreper:hover > .illustration4 {
  background-image: url(../img/eventyr/herreper.svg);
  -webkit-animation: fadein-story 1s forwards;
  animation: fadein-story 1s forwards;
  height: 70vh;
  right: 80px; }

.kari:hover > .illustration5 {
  background-image: url(../img/eventyr/kari.svg);
  -webkit-animation: fadein-story 1s forwards;
  animation: fadein-story 1s forwards;
  height: 70vh;
  right: 150px; }

.styleimg {
  position: absolute;
  bottom: 0;
  width: 60vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

@-webkit-keyframes fadein-story {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein-story {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0; }

.background_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background_layers/Sky.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.bgsame {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 105vw;
  height: 102vh;
  left: -50px;
  overflow: hidden; }

.layer {
  background-image: url(../img/background_layers/1.svg); }

.layer1 {
  background-image: url(../img/background_layers/2.svg); }

.layer2 {
  background-image: url(../img/background_layers/3.svg); }

.layer3 {
  background-image: url(../img/background_layers/4.svg); }

.layer4 {
  background-image: url(../img/background_layers/5.svg); }

.layer5 {
  background-image: url(../img/background_layers/6.svg); }

.layer6 {
  background-image: url(../img/background_layers/7.svg); }

.layer7 {
  background-image: url(../img/background_layers/8.svg); }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
