$black: #404040;
$white: #f2f2f2;
$contrast: #ffdc8c;

* {
    box-sizing: border-box;
}

h1, p, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
//    Tekst

.tekst {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;
}

.intro {
    font-weight: 500;
    color: $white;
    text-shadow: 1px 1px 2px $black;
    text-align: center;
    letter-spacing: 1.5px;
}

.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 1s ease-in-out forwards;
}

//    Kartet

.infogfx {
    position: absolute;
    padding: 50px;
    background-color: rgba(64, 64, 64, 0.97);
    
}

.norge {
    background-image: url(../img/norge.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    width: 90%;
    position: absolute;
}

.infotext {
    color: $white;
    font-size: 31px;
    letter-spacing: 0.5px;
    font-weight: 500;
    position: absolute;
}

.kontrast {
    color: $contrast;
}

.slider {
    background-image: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 160px;
    right: 5%;
    position: absolute;
}

//    Bkgrunn

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
}

.background_wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background_layers/Sky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgsame {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 105vw;
    height: 102vh;
    left: -50px;
    overflow: hidden;
}

.layer {
    background-image: url(../img/background_layers/1.svg);
}

.layer1 {
    background-image: url(../img/background_layers/2.svg);
}

.layer2 {
    background-image: url(../img/background_layers/3.svg);
}

.layer3 {
    background-image: url(../img/background_layers/4.svg);
}

.layer4 {
    background-image: url(../img/background_layers/5.svg);
}

.layer5 {
    background-image: url(../img/background_layers/6.svg);
}

.layer6 {
    background-image: url(../img/background_layers/7.svg);
}

.layer7 {
    background-image: url(../img/background_layers/8.svg);
}



//    Animations

@keyframes fade-in {
    from {opacity: 0};
    to {opacity: 1};
}

@keyframes fade-out {
    from {opacity: 1};
    to {opacity: 0};
}